.recipe-image {
    width: 100%; /* Makes the image responsive */
    height: 100px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the area without stretching */
}


body {
    font-family: 'Roboto', sans-serif;
}

.navbar-nav-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

.navbar-nav-container .nav-item:last-child {
    justify-self: end;
}

input.form-control:focus {
    outline: none;
    box-shadow: 0 0 5px #719ECE; /* This creates a blue glow around the input field */
    border-color: #719ECE;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 5px #719ECE;
    }
    50% {
      box-shadow: 0 0 15px #719ECE;
    }
    100% {
      box-shadow: 0 0 5px #719ECE;
    }
  }
  

  span.username {
    border: 1px solid #333; /* Add a border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px; /* Padding to create some space around the text */
    display: inline-block; /* Display as an inline block element */
  }
  